# Crie um arquivo .env ao lado desse arquivo e substitua-o com suas informações
MONGODB_USERNAME=atumalaca_db_user\
MONGODB_PASSWORD=senhasegura
MONGODB_CONNECTION_STRING=mongodb+srv://atumalaca_db_user:senhasegura@converge-cluster.id.mongodb.net/?appName=converge-cluster

MONGODB_CLUSTER_NAME=converge-cluster
MONGODB_DATABASE_NAME_DEV=converge-dev
MONGODB_DATABASE_NAME_TESTS=converge-tests
MONGODB_DATABASE_NAME_PROD=converge-prod

ENV_CHECK=qualquercoisa